<div class="centered">
    <h1>New User Sign up</h1>
    <br>
    <%= render "form" %>
    <br>
    <br>
    <div>
        <%= link_to('Log in with Facebook!', '/auth/facebook') %>
        <br>
        <br>
        if you already have an account, <%= link_to 'Log in', signin_path %>   
        <br>
        <br>
        <%= link_to 'Go Home', root_path %>   
    </div>
</div>