<h1>New User Sign up</h1>
<br>
<%= render "form" %>
<p>or</p>
<div>
    <%= link_to 'Signin with Facebook', '/auth/facebook/callback' %>
    <br>
    <br>
    if you already have an account, <%= link_to 'Log in', signin_path %>   
    <br>
    <br>
    <%= link_to 'Go Home', root_path %>   
</div>