@import "bootstrap";

body {
    background-color: rgb(66, 61, 52);
    color: #f0caf1;
    
    a {
        color: #c5a2a2;
        &:hover {
            color: #000000;
        }
    }
}

.form label {
    text-align: left;
}
.form input {
    display: inline-block;
    text-align: left;
    float: right;
}

.form textarea{
    display: inline-block;
    text-align: left;
    float: right;
}
.form select {
    display: inline-block;
    text-align: left;
    float: right;
}

.centered {
    position: absolute;
    width: 400px;
    height: 200px;
    z-index: 15;
    top: 20%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

.indent {
    margin-left: 2pc;
}

.newpost {
    h1 {
        margin-left: 60px;
    }
    position: absolute;
    width: 400px;
    height: 200px;
    z-index: 15;
    top: 20%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

header {
    position: relative;
    background: rgb(16, 121, 121);
	width: 100%;
	padding: 2rem 0;
	#logo {
		float: left;
		font-size: 1.75rem;
        color: #0a2a85;
        &:hover {
            color: #000000;	
        }
    }
    .navoptions {
        margin-top: 7px;
        position: absolute;
        right: 20px;
    }
	nav {
		float: left;
		a {
            text-align: center;
            margin-left: 2rem;
            margin-bottom: 8rem;
			line-height: 2;
			color: #fdefef;
			text-decoration: none;
			&:hover {
				color: #000000;
			}
		}
	}
}
.left-nav {
    float: left;
  }
  
  .right-nav {
    float: right;
  }

.sorting {
    margin-left: 2pc;
    // .box {
    //     float: left;
    //   }
}

.showpost {
    margin-left: 35px;
    margin-top: 35px;
    img {
        max-width: 680px;
        height: auto;
    }
}

.comments {
    margin-left: -5px;
    color: rgb(239, 231, 247);
    li {
        padding-top: 20px;
    }
}

.post {

    margin-left: 2pc;
    h3 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1rem;
        color: rgba(235, 195, 227, 0.753);
        a {
            color: rgba(252, 225, 247, 0.753);
            &:hover {
				color: #6d6969;
			}
        }
    }

    li {
        // list-style: decimal-leading-zero;
        font-size: 1.5rem;
    }
    
    a {
        color: rgb(252, 225, 247);
    }

    .center {
        text-align: center;
    }
}

  .error {
    color: rgb(241, 89, 89);
    margin-left: 2pc;
    margin-top: 2pc;
    font-size: 20px;
  }

  .description {
      color: aqua;
      text-align: center;
      margin-top: 2pc;
  }

.pagination {
    font-size: 17px;
    margin-left: 2pc;
    margin-bottom: 2pc;
    margin-top: -2pc;
}

.pagination > * {
    margin-right: 0.1em;
    padding: 0.3em 0.4em;
}

.pagination a:hover {
    background: #202020 none repeat scroll 0 0;
    text-shadow: 1px 1px 1px #171717;
}

.pagination a:active {
    text-shadow: none;
}

.pagination .current {
    background: #202020 none repeat scroll 0 0;
    color: white;
    text-shadow: 1px 1px 1px #171717;
}

.pagination .disabled {
    color: #C0C0C0;
}